html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.header{
  background: url(../img/3.jpg) no-repeat center top;
  text-align:center;
  background-attachment: relative;
  padding: 20px;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  word-wrap: break-word;
  text-align: center;
  font-family: "Raleway";
  font-weight: 500;
  color: white;
  font-size: 6.3vh;
  padding: 10px;
}
.circle{
    display: table;
    margin: 50px auto;
    background: none;
    height: 400px;
    width: 400px;
}

#clock {
  background: #154360;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: solid 2px #34495E;
  margin-top: 15%;
  margin:0 15px;

  font-family: Helvetica, Arial;
  font-size: 60px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: white;

  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}


.footer-basic-centered{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 25px sans-serif;
	padding: 40px 45px;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.footer-basic-centered .footer-company-motto{
	color:  #8d9093;
	font-size: 20px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered p.footer-links{
	font-size:15px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 10px;
}

.footer-basic-centered p.footer-links a{
	display:inline-block;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 15px;
  color: #ffffff;
  text-align: center;
  padding: 5px;

}

@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
    text-align: center;
    float: none;
		margin: 0 auto 20px;
	}
}
